# GLOBALüåç VARAIBLE AND LOCALüóùÔ∏è VARAIBLE

In [ ]:
num_x = 5
print("num_x outside function one", num_x)

def hello():
    global num_x
    global result
    result = 10 + 10 
    num_x = 10
    print("num_x inside function one", num_x)
    print("hello arsh")

hello()
print("num_x outside function one", num_x)
print("result<<<",result)

num_x outside function one 5
num_x inside function one 10
hello arsh
num_x outside function one 10
result<<< 20

# DOCSTRINGüê∂__""""""__

In [ ]:
def addition(num1: int, num: int)-> int:
    """take their parameter and return their sum""" # docstring only use in 1 line 
    return num1 + num

result = addition(2,5)
print(addition.__doc__)
print(result)

take their parameter and return their sum
7

# SET üìê

In [32]:
name_list = ["Ali", "Arsh", "Amir", "Arsh", "Ali"]
name_set = {"Ali", "Arsh", "Amir", "Arsh", "Ali"} # dont repeat one value

print(type(name_list))
print("name list: ", name_list)
print()
print(type(name_set))
print("name set: ",name_set)

<class 'list'>
name list:  ['Ali', 'Arsh', 'Amir', 'Arsh', 'Ali']

<class 'set'>
name set:  {'Amir', 'Arsh', 'Ali'}

# SETüìê METHODS
1. add
2. remove
3. discard
4. pop
5. union
6. intersection

In [ ]:
name_set = {"Ali", "Arsh", "Amir", "Arsh", "Ali"}

# 1. add
name_set.add("Aqib")
print(f"Add set: {name_set}")

# 2.remove
name_set.remove("Amir") # if the value is not in set so (remove) show error
print(f"remove set: {name_set}")

#                                       but (discard) and (remove) and (pop) have same work

# 3. discard
name_set.discard("Aqib") # if the value is not in set so (discard) don't show error
print(f"discard set: {name_set}")

# 1. popping
name_set.pop()
print(f"popping set: {name_set}")

Add set: {'Aqib', 'Amir', 'Arsh', 'Ali'}
remove set: {'Aqib', 'Arsh', 'Ali'}
discard set: {'Arsh', 'Ali'}
popping set: {'Ali'}

In [ ]:
# Union
# marge two set in one
num_set_1 = {1,2,3}
num_set_2 = {3,4,5}

result = num_set_1.union(num_set_2)
print("Result of Union set: ",result)

Result of Union set:  {1, 2, 3, 4, 5}

In [35]:
# Intersection
# show the special nuber or the number that repeated
num_set_1 = {1,2,3}
num_set_2 = {3,4,5}

result = num_set_1.intersection(num_set_2)
print("Result of intersection set: ",result)

Result of intersection set:  {3}